$branding-pink: #db2586;
$branding-purple: #67048c;
$branding-red: #fc5454;
$branding-yellow: #ffe86b;
$branding-green: #c9d41b;
$branding-dark: #3c0270;
$branding-grey: #ABA8A8;
$branding-blue: #199FAE;

$wait-color: $branding-yellow;
$error-color: $branding-red;
$previous-color: $branding-purple;
$current-color: $branding-pink;
$vote-color: $branding-red;
$vote-skip-color: $branding-red;
$vote-done-color: $branding-blue;
$admin-color: $branding-dark;
$disabled-color: mix($branding-red, white, 25%);
$prioritized-color: mix($branding-green, white, 25%);
$positive-color: $branding-green;
$negative-color: $branding-red;
$neutral-color: $branding-yellow;
$grey-color: $branding-grey;

$text-color: #000000;
$link-color: mix($branding-purple, black, 50%);
$light: #fffefa;
$light-grey: #e8e8e8;
$dark: $branding-dark;
$heading-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
